<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        li
        {
            list-style-type: none;
        }
    </style>

</head>
<body style="margin: auto; width: 80%;">
    <h1>Sklep!</h1>

    <div style="float: inline-start; margin-right: 10 px;">
        <h3>Kategoria:</h3>
        <li *ngFor = "let category of shop.categories">
            <input type="checkbox" [value]="category" >{{category}}
        </li>
        <h3>Poziom</h3>
        <li *ngFor = "let level of shop.levels" >
            <input type="checkbox" [value]="level" >{{level}}
        </li>

    </div>
    <div style="display: inline-block;" >
        <tr *ngFor = "let item of shop.items" >
            <td>img</td>
            <td>
                <h3>{{item.title}}</h3>
                <p>Cena: {{item.price}} zł</p>
                <p>{{item.descriptionShort}}</p>
            </td>
            <td>
                <button>dodaj do listy życzeń</button> 
            </td>
            <td>
                <button>dodaj do koszyka</button>
            </td>
        </tr>
    </div>
</body>
</html>