<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <div>
        <h1>
            Strona startowa!
        </h1>
        <h1>
            Aktualności
            Zbliżające się terminy egzaminów
        </h1>
        <p>Kartka z kalendarza? np wydarzenie/postać historyczne</p>
        <p>ciekawostka językowa na dziś?</p>
    </div>
</body>
</html>